{% extends 'base.html' %}

{% block content %}
<style>
body{
    background: url('bg1.png');
    background-size: cover;
    background-color: #F3E8EA;
    max-width: 1096px;
}
.wrapper-title{
    margin: 30px;
    width: 95%;
    height: max-content;
}

#title{
    font-family: 'Kavoon';
    font-size: 40px;
    font-weight: 400;
    color: #45425A;
    align-items: start;
    max-width: 50%;
}

#add-book-button{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: #45425A;
    font-family: 'Kavoon';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border-color: #45425A;
}

#wrapper-card{
    margin-top: 30px;
    max-width: 2000px;
    align-items: center;

}

.card{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 5px;
    padding: 20px;
    
}

.card-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    display: flex;
    margin-left: 50px;
}

.card-title{
    display: flex;
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    color: #45425A;
    margin-left: 50px;
}



#book-cover{
    width: 180px;
    height: 264px;
}
.ratings{
    margin-right:10px;
}

.ratings i{
    color:#D9D9D9;
    font-size:20px;
}

.rating-color{
    color: #FBC634 !important;
}

.remove-btn{
    background-color: transparent;
    border: none;
}

.edit-btn{
    background-color: #45425A;
    font-family: 'Kavoon';
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 50px;
    width: 106px;
}
</style>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Book</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="judul" class="col-form-label">Book Title</label>
                      <input type="text" class="form-control" id="judul" name="judul"></input>
                    </div>
                    <div class="mb-3">
                      <label for="author" class="col-form-label">Book Author</label>
                      <input type="text" class="form-control" id="author" name="author"></input>
                    </div>
                    <div class="mb-3">
                      <label for="age" class="col-form-label">Recommended Age</label>
                      <input type="number" class="form-control" id="min_age" name="min_age" min="1" max="13" placeholder="from"></input>
                      <input type="number" class="form-control" id="max_age" name="max_age" min="1" max="13" placeholder="until"></input>
                    </div>
                    <label for="customRange3" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3" value="3" oninput="updateValueDisplay()">
                    <label id="range-value-text">3</label>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Synopsis</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

    <div class="wrapper-title">
        <h1 id="title">My Books</h1>
        <button id="add-book-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Book</button>
    </div>
    <br>
    <div id="wrapper-card"></div>


<script>
    async function getBooks() {
        return fetch("{% url 'MengelolaBuku:get_books_json' %}").then((res) => res.json())
    }

    async function refreshBooks() {
        document.getElementById("wrapper-card").innerHTML = ""
        const products = await getBooks()
        let htmlString = ""
        products.forEach((books) => {
            var book_rating = Math.round(books.fields.rating)
            var rating_kosong = 5 - book_rating
            //var url_image = "https://marketplace.canva.com/EAFfV74NxCg/1/0/1003w/canva-colorful-blue-illustration-beach-children%27s-book-cover-eTSt5e-cETQ.jpg"
            var url_image = books.fields.image_url
            htmlString += `<div id="book-card" class="card" style="width: 35rem;">
            <div class="card-body">
            <table>    
            <tr>
              <td rowspan="5"><img id="book-cover" src="${url_image}" alt="Book Cover"></td>
              <td colspan="2" id="title-wrapper"><h5 class="card-title">${books.fields.judul}</h5></td>
            </tr>
            <tr>
              <td colspan="2"><p class="card-text">Author      ${books.fields.author}</p></td>
            </tr>
            <tr>
              <td colspan="2">
              <p class="card-text">Age         ${books.fields.min_age}-${books.fields.max_age} years</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">  
              <div class="ratings">
                {% for star in rating %}
                    <i class="fa fa-star rating-color"></i>
                {% endfor %}
                {% for star in rating_kosong %}
                    <i class="fa fa-star"></i>
                {% endfor %}
              </div>
              </td>
            </tr>  
            <tr>
            <td><a href="edit-book/{{item.pk}}/"><button class="btn btn-primary edit-btn">Edit</button></a></td>
            <td><a href="remove_all/{{item.pk}}/"><button class="btn remove-btn">🗑️</button></a></td>
            </tr>
            </table>
            </div>
            </div>` 
        })
        
        document.getElementById("wrapper-card").innerHTML = htmlString
    }
    
    refreshBooks()

    function addBook() {
        fetch("{% url 'MengelolaBuku:add_book' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addBook

    function updateValueDisplay() {
        var rangeInput = document.getElementById('customRange3');
        document.getElementById('range-value-text').textContent = rangeInput.value;
    }
</script>

{% endblock content %}