{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
        body {
            background-image: url({% static "challenge_background.png" %});
            background-repeat: no-repeat;
            background-size: cover;
        }
        .rating-color{
            color: #FBC634 !important;
        }
    </style>
    <script>
        async function fetch_reply(){
            return fetch("{% url 'ChallengeLeaderboard:get_reply' name %}")
                .then(
                    (data) => data.json()
                )
        }
        async function on_jawaban_submit(){
            fetch("{% url 'ChallengeLeaderboard:post_reply' name %}").then(
                (data) => alert("Data Submitted")
            )
        }
        {% comment %} COPIED FROM MengelolaBuku {% endcomment %}
        async function getBooksId(objectId) {
            return fetch(`../editbuku/get-books-json-id/${objectId}`).then((res) => res.json())
        }
        function hideModal(){
            document.getElementById('detailModal').style.display = 'none';
        }
        async function showDetails(objectId){
            document.getElementById("details-modal-body").innerHTML = ""
            let htmlString = ""
            var books = await getBooksId(objectId)
            books = books[0]
            var url_image = books.fields.image_url
            htmlString += `
            <table>    
                <tr>
                  <td rowspan="5"><img id="book-cover" src="${url_image}" alt="Book Cover"></td>
                  <td colspan="2" id="title-wrapper"><h5 class="card-title">${books.fields.judul}</h5></td>
                </tr>
                <tr>
                  <td><p class="card-text"><b>Author</b></p></td>
                  <td><p class="card-text">${books.fields.author}</p></td>
                </tr>
                <tr>
                  <td>
                  <p class="card-text"><b>Age</b></p></td>
                  <td><p class="card-text">${books.fields.min_age}-${books.fields.max_age} years</p></td>
                </tr>
                <tr>
                    <td colspan="2><p class="card-text">${books.fields.desc}</p></td>
                </tr>
                <tr>
                  <td colspan="2">  
                  <div class="ratings d-flex">
                    <p class="card-text">${books.fields.rating}</p>
                    <i class="fa fa-star" style="color: #FBC634 !important;"></i>
                    <p class="card-text" style="margin-left: 20px;">(${books.fields.num_of_rating})</p>
                  </div>
                  </td>
                </tr>
            </table>`
            document.getElementById("details-modal-body").innerHTML = htmlString
            document.getElementById('detailModal').style.display = "block";
        }
        async function showReply(){
            data = await fetch_reply()
            text = document.getElementById("reply").innerHTML
            {% if isguru %}
                console.log(data.point)
                text += `<div class="m-4 p-3 rounded" style="background-color: #F8DCE2;">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4>${data.user}</h4>
                        <form class="form-floating">
                            <input type="number" class="form-control" id="floatingInputValue" value="${data.point}">
                            <label for="floatingInputValue">Nilai ${data.user}</label>
                        </form>
                    </div>
                    <p>${data.text}</p>
                </div>`
            {% else %}
                text += `<div class="m-4 p-3 rounded" style="background-color: #F8DCE2;">
                    <h4>${data.user}</h4>
                    <p>${data.text}</p>
                </div>`
            {% endif %}
            document.getElementById("reply").innerHTML = text
        }
        window.onload = async function(e){ 
            showReply()
        }
    </script>
    <div class="py-5"/>
    <div class="container">
        <div class="d-flex">
            <img src="{% static "task.png" %}" height="80" width="80">
            <div class="container mx-2">
                <h1 class="py-0 my-0"> {{name}} </h1>
                <p class="py-0 my-0"> {{datetime}} ({{point}} point) </p>
                <hr class="my-1 py-0" style="border: 3px solid black; border-radius: 5px;"/>
                <p class="lh-1">{{description}}</p>
                <div class="my-1 p-3 rounded" style="background-color: #FBDCE2;">
                    <div class="d-flex">
                        <img id="book-cover" src={{book.image_url}} alt="Book Cover" style="height:10%; width:10%;">
                        <div class="mx-4">
                            <h5>{{book.judul}}</h5>
                            <p class="py-0 my-0">Author {{book.author}}</p>
                            <p class="py-0 my-0">Age {{book.min_age}}-{{book.max_age}} years</p>
                            <div class="ratings d-flex py-0 my-0">
                                <p class="my-auto">{{book.rating}}</p>
                                <i class="fa fa-star rating-color my-auto"></i>
                                <p class="text-center my-auto">({{book.num_of_rating}})</p>
                            </div>
                                <button class="btn btn-primary details-btn" id="details-button" onclick="showDetails({{book.pk}})">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded my-3 " style="background-color: #FF6B6C;">
                <div class="mx-3 py-3 d-flex align-items-center">
                    <img src="{% static "checklist.png" %}" height="70" width="70">
                    <h1 class="text-center">Pengumpulan</h1>
                </div>
                <div id="reply">
                    {% if showReply %}
                    <div class="m-4 p-3 rounded" style="background-color: #F8DCE2;">
                        <h4>Jawaban Kamu</h4>
                        <form onsubmit="on_jawaban_submit(); return false;">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" name="reply" id="reply_text_area"></textarea>
                                <label for="floatingTextarea">Kamu belum mengirim jawaban...</label>
                            </div>
                            <input class="form-control mt-3 btn btn-primary fw-bold" type="submit" value="Kirim Jawaban!">
                        </form>
                    </div>
                    {% endif %}
                </div>
                <div class="py-3">
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="detailModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" id="header-modal">
              <h5 class="modal-title">Book Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="hideModal()"></button>
            </div>
            <div class="modal-body" id="details-modal-body">
              <p>Modal body text goes here.</p>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}