{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-image: url({% static "leaderboard_background.png" %});
            background-repeat: no-repeat;   
            background-size: cover;
        }
    </style>
</head>
<body>
    <script>
        async function onKomunitasChange(komunitas) {
            if(komunitas == '--'){
                document.getElementById("user_rank").innerHTML = '-'
                document.getElementById("user_username").innerHTML = "{{user.username}}"
                document.getElementById("user_point").innerHTML = '-'
                document.getElementById("leaderboard table").innerHTML = ""
                return;
            }
            fetch(`../get_top10/${komunitas}`).then(
                (data) => data.json()
            ).then(
                (data) => {
                    text = ""
                    for(index in data){
                        text += `<tr>
                            <td class="px-4">${parseInt(index)+1}</td>
                            <td class="px-4">${data[index].name}</td>
                            <td class="text-end px-4">
                                <img src="{% static "point.png" %}" width="3%">
                                ${data[index].point}
                            </td>
                        </tr>`
                        index += 1;
                    }
                    document.getElementById("leaderboard table").innerHTML = text
                }
            )

            fetch(`../get_rank/${komunitas}`).then(
                (data) => data.json()
            ).then(
                (data) => {
                    document.getElementById("user_rank").innerHTML = data.position
                    document.getElementById("user_username").innerHTML = data.name
                    document.getElementById("user_point").innerHTML = data.point
                }
            )
        }
        window.onload = async function (e){
            document.getElementById("komunitasSelect").onchange = function() {
                var selectedValue = this.value;
                onKomunitasChange(selectedValue);
            };
            
        }
    </script>
    <div class="m-4 justify-content-center">
        <div class="container text-center my-4">
            <h1 class="fw-bold">Leaderboard</h1>
            <p class="my-4">Selamat datang di halaman Leaderboard! Di sini, kamu dapat melihat peringkat kamu pada komunitas kamu berdasarkan nilai yang diperoleh dari tantangan. Leaderboard dirancang untuk mendorong semangat kompetitif yang sehat dan memotivasi siswa untuk terus belajar dan berkembang. Mari kita lihat siapa yang berada di puncak!</p>
            <div class="container" style="width: 30%">
                <img src="{% static "medals.png" %}" class="img-fluid"/>
            </div>
        </div>
        <div class="container align-items-center w-75" style="display: flex;">
            <div class="form-floating w-75">
                <select class="form-select" id="komunitasSelect" aria-label="Floating label select example">
                    <option selected> -- </option>
                    {% for komunitas in komunities %}
                        <option value="{{komunitas.name}}">{{komunitas.name}}</option>
                    {% endfor %}
                </select>
                <label for="komunitasSelect">Lihat Komunitas</label>
            </div>
            <div class="form-floating w-25 ms-4">
                <select class="form-select" id="guruSelected" aria-label="Floating label select example" disabled>
                    <option selected> -- </option>
                </select>
                <label for="guruSelected">Guru</label>
            </div>
        </div>
        <div class="container text-center my-3">
            <h5 class="fw-bold">Peringkat Kamu</h5>
        </div>
        <div class="container align-items-center w-75 my-4">
            <table class="table text-center align-items-center rounded-3 overflow-hidden">
                <thead></thead>
                <tbody class="text-center">
                    <tr>
                        <td class="px-4" id="user_rank">-</td>
                        <td class="px-4" id="user_username">{{user.username}}</td>
                        <td class="text-end px-4">
                            <img src="{% static "point.png" %}" width="4%">
                            <span id="user_point">-</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="container text-center my-4">
            <h5 class="fw-bold">Top 10 Terbaik</h5>
        </div>
        <div class="text-center rounded-3 overflow-hidden">
            {% for komunitas in komunities %}
                <div class="container align-items-center w-75 my-2">
                    <table class="table text-center align-items-center rounded-3 overflow-hidden">
                        <thead></thead>
                        <tbody class="text-center" id="leaderboard table">            
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>